* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader {
    background: #FFFFFF url(https://media.tenor.com/tEBoZu1ISJ8AAAAC/spi
 nning-loading.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.fadeonload {
    animation: transitionIn 3s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:wght@400;700&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

section {
    transition: 0.3s ease transform;
}

.site-wrapper {
    min-height: 100vh;
    padding: 3vw;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    position: fixed;
    background-color: white;
    top: 0;
    padding-top: 2vw;
    z-index: 1000;
}

.mobile-title {
    color: #1F1F1F;
    font-family: 'Roboto', sans-serif;
    font-size: 6.7vw;
    text-decoration: none;
    font-weight: 700;
}

.mobile-title-text {
    text-decoration: none;
}

.mobile-socialbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21%;
    height: 30px;
}

.mobile-icons {
    width: 30px;
}

.mobile-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 51rem;
    width: 100%;
    background-color: white;
}

.nav-links {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.mobile-navbar>.nav-links>a {
    display: inline-block;
    padding: 13px 23px 13px 23px;
    text-decoration: none;
    color: #1F1F1F;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 25vw;
}

.mobile-flex-images {
    width: 79.5vw;
    height: 44.5vw;
    padding-top: 20px;
}

.mobile-display-images {
    width: 100%;
    height: auto;
}

/* Desktop things not on mobile version. */
.nav {
    display: none;
}

.desktop-footer {
    display: none;
}

.container2 {
    display: none;
}

.sq1 {
    display: none;
}

.sq2 {
    display: none;
}

.desktop-flex-images {
    display: none;
}

.mobile-about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-about-item {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 100px 10px 30px 10px;
}

.mobile-about-images {
    width: 10rem;
}

.bold-text {
    font-weight: 700;
}

.mobile-about-description {
    font-family: 'Roboto', sans-serif;
}

.desk-navbar {
    display: none;
}

.desk-socialbar {
    display: none;
}

.motion {
    display: none;
}






@media screen and (min-width: 650px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
    }

    .motion {
        display: block;
        width: 50%;
        height: 40vh;
        background-color: white;
        padding-top: 150px;
        font-size: 20px;
    }

    .auto-type {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: #FAFF00;
    }

    .motioncontainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: -50px;
    }

    .motionwalk {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        padding: 100px 10px 30px 10px;
    }

    .mobile-about-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobile-about-item {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        padding: 100px 10px 30px 10px;
    }

    .mobile-about-images {
        width: 20rem;
    }

    .bold-text {
        font-weight: 700;
    }

    .mobile-about-description {
        padding-top: 50px;
        font-family: 'Roboto', sans-serif;
    }


    .site-wrapper {
        min-height: 100vh;
        padding: 3vw;
    }

    .desk-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 95%;
        background-color: white;
    }

    .nav-links {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }

    .desk-navbar>.nav-links>a {
        display: inline-block;
        padding: 13px 23px 13px 23px;
        text-decoration: none;
        color: #1F1F1F;
    }

    .desk-title {
        display: flex;
        color: #1F1F1F;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5vw;
        text-decoration: none;
        font-weight: 700;
    }

    .desk-title-text {
        text-decoration: none;
    }

    .mobile-socialbar {
        display: none;
    }

    .mobile-navbar {
        display: none;
    }

    footer {
        background-color: red;
        width: 100%;
    }

    .desk-socialbar {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        background-color: red;
    }

    .mobile-icons {
        width: 30px;
        padding: 5px;
    }

    .container1 {
        display: none;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 200px;
    }

    .container3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 25vw;
    }

    .mobile-flex-images {
        width: 25vw;
        height: 15vw;
        padding-top: 20px;
    }

    .mobile-title {
        display: none;
    }

    .arrow {
        display: flex;
        justify-content: center;
    }

    .arrow-sizing {
        width: 165px;
        height: 155px;
    }



}