* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Questrial&display=swap');

h1 {
    font-family: 'Questrial', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 50px;
    margin-top: 300px;
}

h2 {
    font-family: 'Questrial', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}





@media screen and (min-width: 650px) {

    h1 {
        font-family: 'Questrial', sans-serif;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 200px;
        margin-top: 300px;
    }

    h2 {
        font-family: 'Questrial', sans-serif;
        color: white;
        display: flex;
        justify-content: center;
    }
}